{{#if user}}
<h1 class="mb-3">Welcome {{ user.displayName }}!</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Organizer</th>
      <th scope="col">Subject</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
    <tr>
      <td>
        {{ this.organizer.emailAddress.name }}
      </td>
      <td>
        {{ this.subject }}
      </td>
      <td>
        {{eventDateTime this.start.dateTime}}
      </td>
      <td>
        {{eventDateTime this.end.dateTime}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="jumbotron">
  <h1>MS Teams Notifications</h1>
  <a href="/auth/signin" class="btn btn-primary btn-large">
    Click here to sign in
  </a>
</div>
{{/if}}
